.header{
  margin-top: 50px;
  text-align: center;
 }
 .mainnavi{
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    background-image: url(img/画像/menu-bg.png);
    background-repeat: repeat-x;
    padding: 20px 10px 15px 20px;

   }
 .mainnavi li {
    color: black;
    display: inline-block;
    list-style: none;
   }
.mainnavi li a{
     color: black;
    text-decoration: none;
     }

.footer{
         background-image: url(img/画像/footer-bg.png);
         background-repeat: no-repeat;
         margin-top: 50px ;
         padding: 80px 15px 20px 15px;
         color: #3f5170;
         
     }


    @media(max-width:500px){
        .mainnavi{
            width: 100%;
            font-size: small;
        }       
    }
